<!DOCTYPE html>
<html>
  <body>
    <h1>My First Heading v1.0</h1>
      <p>My first paragraph.</p>
    <img src="./img/img1.jpg" width="800" height="650" alt="lorem">
    <img src="./img/im2.jpg" width="800" height="650" alt="lorem">
    Server Host Name : {{ ansible_hostname }}</br>
  </body>
</html>
